@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Electrolize&display=swap");

body {
  margin: 0;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search {
  width: 54vw;
}
.search-input {
  border-radius: 39px !important;
}
.positionClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .search {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .logo {
    margin-right: 0px !important;
  }
  .shopping-icon-2 {
    margin-left: 2em !important;
  }
}
@media screen and (max-width: 375px) {
  .positionClass {
    font-size: smaller;
  }
}
@media screen and (min-width: 360px) and (max-width: 412px) {
  .boyd {
    background-color: aqua;
  }
  .search {
    width: 45vw;
  }
}
@media screen and (max-width: 335px) {
  .search {
    width: 39vw;
  }
}
@media screen and (max-width: 300px) {
  .search {
    width: 30vw;
  }
}
.categories-li {
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 2.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
  text-align: center;
}
.categories::-webkit-scrollbar{
  display: none;
}